@import "tailwindcss";

* {
  box-sizing: border-box;
  /*padding: 0;*/
  /*margin: 0;*/
}

html,
body {
  direction: rtl;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  padding-right: 0 !important;
}

.MuiAppBar-root{
  padding-right: 0 !important;
}

a {
  color: inherit;
  text-decoration: none;
}

[dir="rtl"] .MuiFormLabel-root {
  left: auto;
  right: auto;
  transform-origin: top right;
  text-align: right;
  margin-right: 25px;
}

[dir="rtl"] .MuiPickersTextField-root .MuiFormLabel-root:not(.MuiInputLabel-shrink) {
  margin-right: 65px;
  top: -8px;
}

[dir="rtl"] .MuiPickersInputBase-root {
  flex-direction: row-reverse;
}

.MuiPickersSectionList-root {
  padding: 8px 10px !important;
}

[dir="rtl"] .MuiInputAdornment-root {
  margin-left: unset;
  margin-right: 8px;
}

[dir="rtl"] .MuiIconButton-root {
  margin-left: -12px;
  /*margin-right: unset;*/
}

[dir="rtl"] .MuiOutlinedInput-notchedOutline {
  text-align: right;
}

[dir="rtl"] .MuiPickersOutlinedInput-notchedOutline {
  text-align: right;
}
